<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>数値を入力してください</p>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        
        {% for form in forms %}
            <p>{{form}}</p>
        {% endfor %}
            
        <input type='submit' value="click">
    </form>
    <p>{{ answer }}</p>
</body>
</html>